html {
  box-sizing: border-box;
  font-size: 16px;
  color: white;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container-form {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

input[type="submit"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
  font-weight: bold;
  color: tomato;
}

p {
  font-weight: bold;
  color: brown;
  text-decoration: dashed;
}
